saves/
PCL/
1.20.1-Forge_47.3.5.jar
1.20.1-Forge_47.3.5.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
logs/
crash-reports/
local/
1.20.1-Forge_47.3.5-natives/
XaeroWorldMap/
XaeroWaypoints_BACKUP032021/
XaeroWaypoints/